.dashboard-table {
    width: 100%;
    min-width: 700px;
    border-collapse: collapse;
    text-align: center;
    color: #4B2E00;
}   
.dashboard-table-tr-head {
    background-color: #F1E5AC;
}
.dashboard-table-tr:nth-child(even) {
    background-color: #fffcec;
}
.dashboard-table-th {
    padding : 15px;
}
.dashboard-table-td {
    padding: 15px;
}
@media (max-width : 767px) {
    .dashboard-table-th {
        padding: 10px;
    }
}
/* search input*/
.input-search {
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 1px solid #D4AF37;
    border-radius: 5px;
}
.input-search:hover {
    outline: none;
    border-color: #A88629;
}
.input-search:focus {
    outline: none;
    box-shadow: 0 0 4px 0px #A88629;
}
.input-search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    color: #A88629;
}
