.container {
    display: flex;
    gap : 10px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}
.page-link {
    background-color: #8b8b8b;
    color: white;
    display: inline-block;
    width: 40px;
    height:40px;
    text-align: center;
    border-radius: 5px;
    line-height: 40px;
    cursor: pointer;
}

.active-link {
    background-color: #D4AF37;
    color: white;
}
.break {
    color: #4B2E00;
    margin-top: -10px;
}
.break-link {
    font-size: 1.5rem;
}
.actions,
.disabled-actions {
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 40px;
    height:40px;
}
.actions {
 background-color: #D4AF37;
}
.disabled-actions {
    cursor : default;
    background-color: #8b8b8b;
}