@import "tailwindcss";
* {
  box-sizing: border-box;
  padding: 0;
  margin : 0;
}
body {
  font-family: sans-serif;
  min-width: 350px;
}
@theme {
  --color-primary-main : #D4AF37;
  --color-primary-light : #F1E5AC;
  --color-primary-dark : #A88629;
  --color-secondary-main : #4B2E00;
}

.english {
  direction: ltr;
  font-family: 'Inter', sans-serif;
}

.arabic {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

/* gradient primay button */
.gradient-primary-btn {
  background: linear-gradient(to right, #A88629, #D4AF37 );
  color: white;
}