@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
* {
  box-sizing: border-box;
  padding: 0;
  margin : 0;
}
body {
  font-family: sans-serif;
}

@theme {
  --color-primary-color: #D4AF37;
}